<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send data</title>
</head>
<body>
    <h1>Отправим данные в файл</h1>
    <form method="post">
        {% csrf_token %}
        <label for="question">Вопрос:</label>
        <input type="text" id="question" name="question" required>
        <label for="answer">Ответ:</label>
        <input type="text" id="answer" name="answer" required>
        {% if user.is_authenticated %}
        <button type="submit">Отправить</button>
        {% endif %}
    </form>